@model ProyectoInmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar Inmueble</h4>
<span style="color:forestgreen" class="text-center">@ViewBag.Mensaje</span>
<span style="color:red" class="text-center">@ViewBag.Error</span>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Uso" class="control-label"></label>
                        <input asp-for="Uso" class="form-control" />
                        <span asp-validation-for="Uso" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tipo" class="control-label"></label>
                        <input asp-for="Tipo" class="form-control" />
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CantidadHabitaciones" class="control-label"></label>
                        <input asp-for="CantidadHabitaciones" class="form-control" />
                        <span asp-validation-for="CantidadHabitaciones" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label asp-for="Precio" class="control-label"></label>
                        <input asp-for="Precio" class="form-control" />
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <input asp-for="Estado" class="form-control" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Propietario</label>
                        <select class="form-control" name="IdPropietario">
                            @foreach (var item in (IList<Propietario>)ViewBag.Propietarios)
                            {
                                @:<option @(item.IdPropietario == Model.IdPropietario ? "selected" : "") value="@item.IdPropietario">@(item.Nombre + " " + item.Apellido)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Volver a la Lsita</a>
            </div>
        </form>
    </div>
</div>



