@model IEnumerable<ProyectoInmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Index";
}

<h4 class="mt-2">Listado de Inmuebles</h4>

<p>
    <a asp-action="Create" class="btn btn-outline-primary btn-sm">Crear Nuevo</a>
</p>
<table class="table">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                Nro Habitaciones
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadHabitaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td> 
            
            <td>                
                <span class="btn-outline-secondary btn-sm">@Html.ActionLink("Edit", "Edit", new { id = item.IdInmueble })</span> |
                <span class="btn-outline-success btn-sm">@Html.ActionLink("Details", "Details", new { id = item.IdInmueble })</span> |
                <span class="btn-outline-danger btn-sm">@Html.ActionLink("Delete", "Delete", new { id = item.IdInmueble })</span>
            </td>
        </tr>
    }
}
    </tbody>
</table>
