@model IEnumerable<ProyectoInmobiliaria.Models.Propietario>

@{
    ViewData["Title"] = "Index";
}

<h4 class="mt-2">Propietarios</h4>

<p>
    <a asp-action="Create" class="btn btn-outline-primary btn-sm">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    
        <tr>          
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            
            <td>
                <span class="btn-outline-secondary btn-sm">@Html.ActionLink("Edit", "Edit", new { id = item.IdPropietario })</span> |
                <span class="btn-outline-success btn-sm">@Html.ActionLink("Details", "Details", new { id = item.IdPropietario })</span> |
                <span class="btn-outline-danger btn-sm">@Html.ActionLink("Delete", "Delete", new { id = item.IdPropietario })</span>
</td>
        </tr>
}
    </tbody>
</table>
