@model ProyectoInmobiliaria.Models.Alquiler

@{
    ViewData["Title"] = "Create";
}

<h4>Crear Contrato</h4>
<span style="color:forestgreen" class="text-center">@ViewBag.Mensaje</span>
<span style="color:red" class="text-center">@ViewBag.Error</span>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label asp-for="FechaInicio" class="control-label"></label>
                        <input asp-for="FechaInicio" class="form-control" />
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaFin" class="control-label"></label>
                        <input asp-for="FechaFin" class="form-control" />
                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Monto" class="control-label"></label>
                        <input asp-for="Monto" class="form-control" />
                        <span asp-validation-for="Monto" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="control-label">Inmueble</label>
                        <select class="form-control" name="IdInmueble">
                            @foreach (var item in (IList<Inmueble>)ViewBag.Inmuebles)
                            {
                                <option value="@item.IdInmueble">@(item.Direccion)</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Inquilino</label>
                        <select class="form-control" name="IdInquilino">
                            @foreach (var item2 in (IList<Inquilino>)ViewBag.Inquilinos)
                            {
                                <option value="@item2.IdInquilino">@(item2.Apellido + " " + item2.Nombre)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

