@model IEnumerable<ProyectoInmobiliaria.Models.Alquiler>

@{
    ViewData["Title"] = "Index";
}

<h4 class="mt-2">Listado de Alquileres</h4>

<p>
    <a asp-action="Create" class="btn btn-outline-primary btn-sm">Crear Nuevo</a>
</p>
<span style="color:forestgreen" class="text-center">@ViewBag.Mensaje</span>
<span style="color:red" class="text-center">@ViewBag.Error</span>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                Direccion
            </th>
            <th>
                Inquilino
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFin)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.casa.Direccion)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.inquilino.Apellido)&ensp;
                        @Html.DisplayFor(modelItem => item.inquilino.Nombre)
                    </th>
                    <td>
                        <span class="btn-outline-secondary btn-sm">@Html.ActionLink("Editar", "Edit", new { id = item.IdAlquiler })</span> |
                        <span class="btn-outline-success btn-sm">@Html.ActionLink("Detalle", "Details", new { id = item.IdAlquiler })</span> |
                        <span class="btn-outline-danger btn-sm">@Html.ActionLink("Borrar", "Delete", new { id = item.IdAlquiler })</span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
